.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.font-bitter {
  font-family: bitter;
}

.font-montserrat {
  font-family: Montserrat;
}

p, li {
  font-family: bitter;
  font-size: 1rem;
  font-weight: 400;
  color: #8c837e;
  text-align: justify;
  margin-top:12px;
  margin-bottom:14px;
}

.section-title {
  scroll-snap-align: start;
  text-align: right;
  /*text-shadow: 2px 2px #ccc;*/
  bottom: 0px;
  right: 10px;
  margin-bottom: -14px; 
  font-family: Montserrat;
  color: #52b4c8;
  font-size: 100px;
  font-weight: 800;
  line-height: .8;
  letter-spacing: -.01em;
  position: absolute;
  z-index: 1;
}

.section-heading {
  margin-top: 1em;
  margin-bottom: 1em;
  position:relative;
}

body {
  background-color: #edeae8;
  color: #8c837e;
  z-index: -1;
}

.parallax {
  /* Set a specific height */
  height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animated { 
    animation-duration: 2s; 
    animation-fill-mode: both; 
} 

@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(40px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRight { 
    animation-name: fadeInRight; 
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.containerSnap {
  scroll-snap-type-y: mandatory;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

.childSnap {
  scroll-snap-align: start;
}
