<!-- Enfant -->
  <section class="section">
    <!-- Title -->
    <div class="section-heading">
        <div id="slider" class="lozad parallax" data-background-image="./resources/images/Enfants_bg.jpg"></div>
        <div id="enfant" class="section-title is-size-1-mobile">Enfant</div> <!-- title is-2 -->
    </div>
    
    <div class="columns has-same-height is-vcentered"> <!-- is-gapless  -->
        <div class="column is-1 is-hidden-touch">
            <!-- Left gutter -->
        </div>
        <div class="column"> <!-- is-two-thirds -->
            <!-- Profile -->
            <p class="is-italic">&emsp;&emsp;Il est parfois nécessaire de faire appel à un professionnel neutre et bienveillant pour aborder les difficultés de son enfant et lui permettre de s’exprimer. Quelques séances peuvent suffire à rétablir une communication rompue et aider chaque membre de la famille à se sentir mieux.</p>
            <hr class="has-background-grey-light">
            <p class="is-size-4 has-text-weight-semibold">Quand consulter pour votre tout petit ou votre enfant ?</p>
            <div class="content">
                <ul>
                    <li>Anxiété, tristesse, stress, peurs durables (noir, bruits, loup…), phobies, timidité</li>
                    <li>Troubles du sommeil (difficultés d’endormissement, cauchemars), troubles alimentaires (refus, excès, obésité) et troubles de la propreté (non acquise ou perdue, énurésie)</li>
                    <li>Difficultés d’acquisition du langage et difficultés scolaires (apprentissage, opposition)</li>
                    <li>Troubles du comportement (agitation, opposition, colères, agressivité, inattention, vols et mensonges répétés, difficultés d’obéissance)</li>
                    <li>Maladies psychosomatiques</li>
                    <li>Difficultés relationnelles (conflits dans la famille et/ou à l’extérieur)</li>
                    <li>Difficultés suite à la séparation des parents et difficultés d’adaptation à la garde alternée</li>
                </ul>
            </div>
            <p>
                D’une façon générale, dès que l’enfant se situe dans un extrême, soit dans le « trop », soit dans le « trop peu ». Tout changement brusque dans l’attitude de l’enfant est souvent un signe de mal-être.
            </p>
            <hr class="has-background-grey-light">
            <p class="is-size-4 has-text-weight-semibold">Comment se passe le suivi ?</p>
            <p>
                A la première séance, je reçois les parents en présence de l’enfant. Il s’agit de comprendre les difficultés de l’enfant et d’en retracer l’histoire. A l’issue de cette première rencontre, je vous proposerai un suivi adapté à la situation et à la problématique de votre enfant.
                
            </p>
            <div class="columns has-same-height">
                <div class="column">
                    <div class="box has-background-white-ter">
                    <p class="is-size-6 has-text-weight-semibold">Pour les nourrissons et les enfants âgés de moins de 5 ans :</p>
                    <p>
    Le soutien psychologique consiste à travailler avec les parents en présence de leur enfant. Nous aborderons le développement de votre tout-petit, vos représentations, vos liens affectifs, la place de votre enfant dans la famille afin de vous aider à résoudre les difficultés rencontrées.
                    </p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-white-ter">
                    <p class="is-size-6 has-text-weight-semibold">Pour les enfants à partir de 5 ans :</p>
                    <p>
    En individuel : L’enfant est reçu seul. Je lui offre un espace de parole personnel où il pourra s’exprimer à travers les jeux et le dessin. Un entretien sur le suivi de l’enfant est proposé régulièrement aux parents.
    En famille : Si les troubles et le comportement de votre enfant sont une souffrance pour chaque membre de votre famille, un suivi familial pourra vous être proposé.
                    </p>
                    </div>
                </div>
            </div>
            <p>
                En fonction des difficultés de votre enfant, je peux également vous proposer un bilan psychologique en lien à votre demande. Il permet de répondre à des inquiétudes concernant le quotient intellectuel, le développement psychoaffectif et le comportement de votre enfant.
            </p>
        </div>
        <div class="column is-2 is-hidden-touch"> <!--  is-one-fifth is-one-quarter -->
            <!-- Profile -->
            <div class="font-montserrat is-size-5 has-text-centered">Madame Psychologue
            <figure class="image is-128x128" style="width: 100%;">
                <img src="./resources/images/MmeCouleur-Full.png" >
            </figure>  
            </div>
        </div>
    </div>
  </section>
